DATABASE_URI=postgresql://goose_garden_admin:NfyzLbpfqyth@localhost:5433/goose_garden
PAYLOAD_SECRET=ba4c9dcfb5b9f71c9b2cc6ad39b5b045
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Optional SMTP 
# SMTP_HOST=
# SMTP_USER=
# SMTP_PASS=
# SMTP_PORT=

# Optional Telegram Bot API
# TELEGRAM_BOT_TOKEN=
# TELEGRAM_CHAT_ID=
